## In-Class Activity - Cyber Security Data Analysis 
This notebook will guide you through the process of analyzing a cyber security dataset. Follow the TODO tasks to complete the assignment.

# Step 1: Importing the required libraries

TODO: Import the necessary libraries for data analysis and visualization.

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
pd.options.display.max_rows = 999
warnings.filterwarnings("ignore")

# Step 2: Loading the dataset

TODO: Load the given dataset.

In [17]:
link = "./Data/CySecData.csv"

# Step 3: Display the first few rows of the dataset
TODO: Import the necessary libraries for data analysis and visualization.

In [18]:
df = pd.read_csv(link)
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal

# Step 4: Initial info on the dataset.

TODO: Provide a summary of the dataset.

In [19]:
# Display summary information about the dataset
df.info()
df.describe(include='all')
df['class'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25192 entries, 0 to 25191
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     25192 non-null  int64
 1   protocol_type                25192 non-null  object
 2   service                      25192 non-null  object
 3   flag                         25192 non-null  object
 4   src_bytes                    25192 non-null  int64
 5   dst_bytes                    25192 non-null  int64
 6   land                         25192 non-null  int64
 7   wrong_fragment               25192 non-null  int64
 8   urgent                       25192 non-null  int64
 9   hot                          25192 non-null  int64
 10  num_failed_logins            25192 non-null  int64
 11  logged_in                    25192 non-null  int64
 12  num_compromised              25192 non-null  int64
 13  root_shell                   25192 non-null  int64
 14  su_attempted                 25192 non-null  int64
 15  num_root                     25192 non-null  int64
 16  num_file_creations           25192 non-null  int64
 17  num_shells                   25192 non-null  int64
 18  num_access_files             25192 non-null  int64
 19  num_outbound_cmds            25192 non-null  int64
 20  is_host_login                25192 non-null  int64
 21  is_guest_login               25192 non-null  int64
 22  count                        25192 non-null  int64
 23  srv_count                    25192 non-null  int64
 24  serror_rate                  25192 non-null  float64
 25  srv_serror_rate              25192 non-null  float64
 26  rerror_rate                  25192 non-null  float64
 27  srv_rerror_rate              25192 non-null  float64
 28  same_srv_rate                25192 non-null  float64
 29  diff_srv_rate                25192 non-null  float64
 30  srv_diff_host_rate           25192 non-null  float64
 31  dst_host_count               25192 non-null  int64
 32  dst_host_srv_count           25192 non-null  int64
 33  dst_host_same_srv_rate       25192 non-null  float64
 34  dst_host_diff_srv_rate       25192 non-null  float64
 35  dst_host_same_src_port_rate  25192 non-null  float64
 36  dst_host_srv_diff_host_rate  25192 non-null  float64
 37  dst_host_serror_rate         25192 non-null  float64
 38  dst_host_srv_serror_rate     25192 non-null  float64
 39  dst_host_rerror_rate         25192 non-null  float64
 40  dst_host_srv_rerror_rate     25192 non-null  float64
 41  class                        25192 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 8.1+ MB

class
normal     13449
anomaly    11743
Name: count, dtype: int64

# Step 5: Creating dummy variables
TODO: Create dummy variables for the categorical columns except for the label column "class".

In [27]:
# Create dummy variables for categorical columns except for the label column "class"
categorical_cols = ['protocol_type', 'service', 'flag']
dfDummies = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
dfDummies.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0,491,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,True,False
1,0,146,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,True,False
2,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,True,False,False,False,False,False
3,0,232,8153,0,0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,True,False
4,0,199,420,0,0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,True,False

# Step 6: Dropping the target column
TODO: Drop the target column 'class' from the dataset.

In [ ]:
# Drop the target column 'class' from the dataset
dfDummies = dfDummies.drop('class', axis=1)
dfDummies.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,150,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00
1,0,udp,other,SF,146,0,0,0,0,0,...,255,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00
2,0,tcp,private,S0,0,0,0,0,0,0,...,255,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00
3,0,tcp,http,SF,232,8153,0,0,0,0,...,30,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Step 7: Importing the Standard Scaler
TODO: Import the `StandardScaler` from `sklearn.preprocessing`.

In [22]:
from sklearn.preprocessing import StandardScaler

# Step 8: Scaling the dataset
TODO: Scale the dataset using the `StandardScaler`.

In [28]:
# Scale the dataset using StandardScaler
scaler = StandardScaler()
dfNormalized = scaler.fit_transform(dfDummies)
dfNormalized[:5]

ValueError: could not convert string to float: 'normal'

# Step 9: Splitting the dataset
TODO: Split the dataset into features (X) and target (y).

In [ ]:
# Split the dataset into features (X) and target (y)
X = dfDummies
y = df['class'].values

# Step 10: Importing the required libraries for the models
TODO: Import the necessary libraries for model training and evaluation.

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# Now the required model libraries are imported and ready for use.

# Step 11: Defining the models
TODO: Define the models to be evaluated.

In [ ]:
# Define the models to be evaluated
models = {
    'Logistic Regression': LogisticRegression(max_iter=1000),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

# Step 12: Evaluating the models
TODO: Evaluate the models using 10 fold cross-validation and display the mean and standard deviation of the accuracy.

In [ ]:
# Evaluate the models using 10-fold cross-validation and display the mean and standard deviation of the accuracy
for name, model in models.items():
    scores = cross_val_score(model, X, y, cv=10, scoring='accuracy')
    print(f"{name}: Mean Accuracy = {scores.mean():.4f}, Std = {scores.std():.4f}")

Logistic Regression: Mean Accuracy = 0.9734, Std = 0.0034
Decision Tree: Mean Accuracy = 0.9965, Std = 0.0008
Random Forest: Mean Accuracy = 0.9976, Std = 0.0010

# Step 13: Converting the notebook to a script
TODO: Convert the notebook to a script using the `nbconvert` command.

In [ ]:
# Convert the notebook to a script using the nbconvert command
!jupyter nbconvert --to script "notebook.ipynb"

[NbConvertApp] Converting notebook notebook.ipynb to script
[NbConvertApp] Writing 3687 bytes to notebook.py